---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>

<script type="text/javascript">
const gitalk = new Gitalk({
  clientID: 'c9688e0c65375364a06a',
  clientSecret: '8df2e39f843080e28444928ecad0529446543bc1',
  repo: 'AlgebraLoveme.github.io',
  owner: 'AlgebraLoveme',
  admin: ['AlgebraLoveme'],
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false,  // Facebook-like distraction free mode
  language: 'en'
})

gitalk.render('gitalk-container')
</script>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<h3 id="busuanzi_container_site_pv" style="align-content: center; color:brown; font: 200">Total visits: <span id="busuanzi_value_site_pv"></span></h3>
<br>
<h3 id="busuanzi_container_site_uv" style="align-content: center; color:brown; font: 200">
  Total visitors: <span id="busuanzi_value_site_uv"></span>
</h3>